<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/main.css">
    <title>Demo For CI/CD</title>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#"> CI/CD Pipeline Developed By Joy Mia</a>
</nav>

<main role="main" class="container">
    <div class="starter-template">
        <div class="student-details">
            <p><strong>Project Title:</strong> Building A Comprehensive Secured CI/CD Pipeline With Integrated Monitoring & Alerting System  To Deploy Application On Kubernetes Cluster With High Availability and Scalability</p>
        </div>
        <p id="subtitle">Default subtitle.</p>
        <p id="msg">Default text.</p>
        <div class="about-devops">
            <p><strong>About DevOps Engineering:</strong> DevOps & DevSecOps is a set of practices that combines software development (Dev) and System Security (sec) and IT operations (Ops). It aims to shorten the systems development life cycle and provide continuous delivery with high software quality.</p>
        </div>
        <!-- Add a section for the technologies used -->
        <div class="tech-used">
            <h2>Technology Used:</h2>
            <ul>
                <li><strong>Virtuaization(KVM):</strong> A technology that allows running multiple operating systems on a single hardware host.</li>
                <li><strong>Linux Server's:</strong> A version of the Linux operating system designed to handle the more demanding needs of business applications such as network and system administration, database management and web services.</li>
                <li><strong>Jenkins:</strong> An open-source automation tool written in Java with plugins built for Continuous Integration purposes.</li>
                <li><strong>Docker:</strong> An open-source platform used for containerization.</li>
                <li><strong>Kubernetes:</strong> An open-source platform designed to automate deploying, scaling, and operating application containers.</li>
                <li><strong>SonarQube:</strong> An open-source platform developed by SonarSource for continuous inspection of code quality.</li>
                <li><strong>Trivy:</strong> A simple and comprehensive vulnerability scanner for containers.</li>
                <li><strong>ArgoCD:</strong> A declarative, GitOps continuous delivery tool for Kubernetes.</li>
                <li><strong>Helm:</strong> The package manager for Kubernetes.</li>
                <li><strong>Promethus:</strong> An open-source systems monitoring and alerting toolkit.</li>
                <li><strong>Altert-Manager:</strong> Handles alerts sent by client applications such as the Prometheus server.</li>
                <li><strong>Grafana:</strong> An open-source platform for monitoring and observability.</li>
            </ul>
        </div>
        <!-- Add a section for the CI/CD image -->
        <div class="ci-cd-image">
            <h2>CI/CD Pipeline</h2>
            <img src="https://i.ibb.co/C8nSSNS/cicd-780x344.png" alt="CI/CD Pipeline">
            <p>The Robust CI/CD pipeline used in this project.</p>
        </div>
        <!-- Add a section for the software delivery image -->
        <div class="software-delivery-image">
            <h2>Software Delivery</h2>
            <img src="https://i.ibb.co/rpfpr71/Whats-App-Image-2024-05-15-at-11-49-49-68b5f60a.jpg" alt="Software Delivery">
            <p>This is the Fastest & Efficient Software delivery process used in the project.</p>
        </div>
        <!-- Add a section for the personal image -->
        <div class="personal-image">
            <img src="https://i.ibb.co/Z1px57n/joy.jpg" alt="Joy Miah">
            <div class="personal-info">
                <h2>Joy Miah</h2>
                <p><strong>Student ID:</strong> 212-15-4108</p>
                <p>An inspiring DevOps Engineer</p>
                <p>Student of Daffodil International University</p>
            </div>
        </div>
    </div>
</main>

<script src="/js/main.js"></script>
</body>
</html>
