<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <link data-th-href="@{/css/main.css?{id}(id=${timestamp})}" rel="stylesheet">
    <title>CI/CD Master Class By Joy Miah</title>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#"> CI/CD Pipeline Daffodil International University</a>
</nav>

<main role="main" class="container">
    <div class="starter-template">
        <div class="student-details">
            <p><strong>Student ID:</strong> 212-15-4108</p>
            <p><strong>Project Title:</strong> Building A Comprehensive Secured CI/CD Pipeline With Integrated Monitoring & Alerting System  To Deploy Application On Kubernetes Cluster With High Availability and Scalability</p>
        </div>
        <h1 th:text="${title}">Default title.</h1>
        <p th:text="${subtitle}">Default subtitle.</p>
        <p th:text="${msg}">Default text.</p>
        <div class="about-devops">
            <p><strong>About DevSecOps Engineering:</strong> DevSecOps is a set of practices that combines software development (Dev) and System Security (sec) and IT operations (Ops). It aims to shorten the systems development life cycle and provide continuous delivery with high software quality.</p>
        </div>
        <div class="tech-used">
            <p><strong>Technology Used:</strong></p>
            <ul>
                <li>Virtuaization(KVM)</li>
                <li>Linux Server's</li>
                <li>Jenkins</li>
                <li>Docker</li>
                <li>Kubernetes</li>
                <li>SonarQube</li>
                <li>Trivy</li>
                <li>ArgoCD</li>
                <li>Helm</li>
                <li>Promethus</li>
                <li>Altert-Manager</li>
                <li>Grafana</li>
            </ul>
        </div>
    </div>
</main>

<script data-th-src="@{/js/main.js}"></script>
</body>

</html>
