body {
  padding-top: 5rem;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  background-image: url('https://i.ibb.co/JdPk3f1/lzmsk5oyg7y0y554b2kr.jpg');
  background-size: cover;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.navbar-brand {
  font-size: 1.5em;
  color: #007bff;
}

.container h1 {
  color: #007bff;
}

.container p {
  font-size: 1.2em;
}

.tech-used {
  margin: 2em 0;
  padding: 1em;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: rgba(248, 249, 250, 0.8);
}

.tech-used ul {
  list-style-type: none;
  padding-left: 0;
  text-align: left;
}

.tech-used ul li {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 10px;
}

.tech-used ul li strong {
  color: #007bff;
}

.ci-cd-image, .software-delivery-image, .personal-image {
  text-align: center;
  margin-top: 2em;
}

.ci-cd-image img, .software-delivery-image img {
  max-width: 50%;
  height: auto;
}

.personal-image img {
  max-width: 30%;
  height: auto;
}

.personal-info {
  text-align: center;
  font-size: 1.2em;
  color: #007bff;
}
